{%block content%}
<h1>Hello world</h1>
<h3>Page Loaded successfully</h3>
</br>
{% for post in posts %}
<ul>
    <li>
        <img height="200" width="200" src="{{post.image_url}}">
           <li><br/>
{%endfor%}
{%endblock%}



{%block content%}
<h1>Hello world</h1>
<h3>Page Loaded successfully</h3>
</br>
{% for post in posts %}
<ul>
    <li>
      <h2>{{ post.title }}</h2>
      <img src="{{ post.image_url }}" alt="{{ post.title}}" height="200" width="200">
      <p>{{ post.description }}</p>
    </li>
  </ul>      
{%endfor%}
{%endblock%}



<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>





</div><div class="card" style="width: 16rem; padding:5px; margin:5px;">
    <img height="200" width="200" src="{{post.image_url}}" class="card-img-top" alt="Post Image">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.story|slice:"0:50"}}...</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{post.created_at}}</small>
    </div>
  </div>